
<div class="container">
    <img src="assets/images/angular.png" alt="">
    <p>
    My name is Tibor Ukropina, and I'm a software engineer. I deliver front-end websites
    built on Angular, but that hasn't stopped me from working with libraries like React 
    and Vue. As a new grad my goal is to learn as much as possible to prepare for my first
    full time permanent position as a software developer.
    </p>
    
</div>

<div class="container">
    <p>
    I graduated from the University of Guelph with a Honours Bachelors Degree in Computing.
    I majored in computer science and minored in business.
    At Guelph I became highly profficient in C, and used C to code backends for websites, API's 
    Web Servers, etc. 
    </p>

    <img src="assets/images/uofg.png" alt="">
</div>

<div class="container">
    <p>
    During my studies at Guelph I completed an internship with TD Canada Trust as a frontend web developer.
    I gained exposure to the AngularJS and Angular frameworks. It was after this experience that I realized my passion for web development and decided to pursue it full-time.  
    </p>

    <img id="td" src="assets/images/TD.png" alt="">
    
</div>
<div class="container">
    <img id="serbLink" src="assets/images/serblink.jpeg" alt="">
    <p>
    I currently work for Serblink as a frontend web developer. Here I continue to develop my skills
    in Angular, TypeScript, HTML, and CSS. This role has allowed me to follow my passion for development while allowing me to give back to the Serbian Community.
    </p>
</div>

<div class="container" id="lastContainer">
    <img id="youtube" src="assets/images/youtube.png" alt="">
    <p>
    I believe in the importance of being able to communicate your code. For this reason I started a <a target="_blank" href="https://www.youtube.com/@TiborUkropina">YouTube</a> channel
    where I teach fellow programmers Angular and how to solve programming problems.
    </p>
</div>