<div class="container">
    <div class="project">
        <div class="project-image" style="background-image: url('assets/images/project1.png');">
            <div class="project-details">
                <h2>C Server</h2>
                <p>Multi-Threaded C server that can accept Javascript, HTML, and CSS files</p>
                <a href="https://github.com/tibor-ukropina/C-server" target="_blank">Learn More</a>
            </div>
        </div>
    </div>
    <div class="project">
        <div class="project-image" style="background-image: url('assets/images/basketball.png');">
            <div class="project-details">
                <h2>NBA Stats Website</h2>
                <p>A web application which grabs and displays NBA Data</p>
                <a href="https://github.com/tibor-ukropina/NBA-Stats-Website" target="_blank">Learn More</a>
            </div>
        </div>
    </div>
    <div class="project">
        <div class="project-image" style="background-image: url('assets/images/animatedforest.png');">
            <div class="project-details">
                <h2>SVG Image Editor</h2>
                <p>A web application that can edit SVG files with an efficient C backend</p>
                <a href="https://github.com/tibor-ukropina/SVG-Editor" target="_blank">Learn More</a>
            </div>
        </div>
    </div>
    <div class="project">
        <div class="project-image" style="background-image: url('assets/images/leadtracker.png');">
            <div class="project-details">
                <h2>Leads Tracker</h2>
                <p>Google Chrome extension for tracking leads online</p>
                <a href="https://github.com/tibor-ukropina/LeadsTrackerChromeExtension" target="_blank">Learn More</a>
            </div>
        </div>
    </div>
</div>
