/* You can add global styles to this file, and also import other style files */



body{
    text-align: center;
    color: white;
    background-color: black;
    
}
.app-wrapper {
    height: 100%;
    margin: 0;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    padding-bottom: 5px;
  }

