<div class="gfg" style="position: relative;">
    <img src="assets/images/toronto.jpg" alt="">
    <div class="text-container">
        <p>Tibor Ukropina is a software engineer, located in the Greater Toronto Area, who develops web applications. 
            <br>He specializes in developing Angular-based applications. Tibor values accessibility, design, and user
            <br>experience. <a routerLink="contact">Contact me</a> on this site, or by <a href="mailto:ukropina@outlook.com">email</a>.</p>
    </div>
</div>
